// Sidebar Styles

@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 3.6rem 2rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    @include sidebar-transition();
    z-index: 1000;

    .nav,
    &__auth-buttons {
        display: none;
    }

    .nav__list {
        @include flex-container(
            $direction: row,
            $justify: space-between,
            $align: center,
            $gap: 2rem
        );
    }

    // Toggle active
    &--active {
        @include flex-container(
            $direction: column,
            $align: flex-end,
            $gap: 6rem
        );
        right: 0;
        color: white;
        background-color: $secondary-color;

        .nav,
        &__auth-buttons {
            display: flex;
        }

        .nav__list {
            @include flex-container(
                $direction: column,
                $justify: space-between,
                $align: flex-end,
                $gap: 2rem
            );
        }

        .sidebar__auth-buttons {
            @include flex-container(
                $direction: column,
                $justify: space-between,
                $align: center,
                $gap: 2rem
            );
        }
    }

    // Adjust width for medium screens
    @include respond(md) {
        @include flex-container(
            $direction: column,
            $align: flex-end,
            $gap: 4rem
        );
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        transition: none;
        z-index: auto;

        .sidebar__close-icon,
        nav {
            display: none;
        }
        &__auth-buttons {
            display: flex;
            margin-bottom: 0.2rem;
        }

        &--active {
            @include flex-container(
                $direction: column,
                $justify: flex-start,
                $align: flex-start,
                $gap: 6rem
            );
            position: fixed;
            top: 0;
            // left: 0;
            width: 50%;
            height: 100vh;
            color: white;
            background-color: $secondary-color;
            padding: 3.3rem 6.8rem;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
            @include sidebar-transition();
            z-index: 1000;

            .sidebar__close-icon {
                display: block;
            }
            .sidebar__auth-buttons {
                display: none;
            }

            .nav__list {
                @include flex-container(
                    $direction: column,
                    $justify: space-between,
                    $align: flex-start,
                    $gap: 2rem
                );
            }
        }
    }

    // Hide sidebar on large screens
    @include respond(lg) {
        @include flex-container(
            $direction: row,
            $justify: space-between,
            $align: center,
            $gap: 2rem
        );
        position: static;
        width: 70%;
        height: auto;
        background-color: transparent;
        padding: 0;
        box-shadow: none;
        transition: none;
        z-index: auto;

        .sidebar__close-icon {
            display: none;
        }
        .nav {
            @include flex-container(
                $direction: row,
                $justify: space-between,
                $align: center,
                $gap: 4rem
            );
            &__list {
                font-size: 1.4rem;
                @include flex-container(
                    $direction: row,
                    $justify: space-between,
                    $align: flex-end,
                    $gap: 6.4rem
                );
                margin-top: 0.2rem;
                letter-spacing: 0.03rem;
                font-weight: normal;
            }
        }
        &__auth-buttons {
            display: flex;
            font-size: 1.4rem;
            gap: 0;
            margin-right: 2rem;
        }
    }
}
