@use './mixins' as *;

// placeholder for button styling
%button {
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
    line-height: 1;
    border: 0;
    border-radius: 6.25rem;
}
