// variables

// colors
$primary-color: #5d50c6;
$secondary-color: #6c757d;
$accent-color: #ffc107;
$text-color: #333;
$shadow-color: rgba(0, 0, 0, 0.35);

// breakpoints

$mobile: 430px;
$tablet: 1024px;
$desktop: 1440px;
